.footer-wrapper {
      width: 100%;
      background-color: #eaeaea;
      height: 40vh;
      margin-top: 32rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      position: relative;
}

.col-4,
.col-5 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
}

.col-4 h3,
.col-5 h3 {
      font-family: Raleway, sans-serif;
      font-size: 26px;
      font-weight: 900;
      color: #242424;
}

.col-4 p,
.col-5 p {
      font-family: Roboto, sans-serif;
      font-weight: 400;
      font-size: 15px;
}

.col-4 {
      position: absolute;
      left: 15rem;
}

.col-5 {
      position: absolute;
      right: 15rem;
}

.sm-icon {
      font-size: 2rem;
      padding: 10px;
      margin: 20px;
      color: #242424;
}

.sm-icon:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
}

.social-icons {
      position: absolute;
      bottom: 0;
      left: 32rem;
}

@media only screen and (max-width: 1200px) {
      .social-icons {
            left: 25rem;
      }
}

@media only screen and (max-width: 1100px) {
      .footer-wrapper {
            margin-top: 132rem;
      }

      .social-icons {
            left: 20rem;
      }
}

@media only screen and (max-width: 948px) {
      .col-5 {
            right: 5rem;
      }

      .col-4 {
            left: 5rem;
      }

      .social-icons {
            left: 16rem;
      }
}

@media only screen and (max-width: 748px) {
      .social-icons {
            left: 12rem;
      }
}

@media only screen and (max-width: 635px) {
      .social-icons {
            left: 8rem;
      }
}

@media only screen and (max-width: 575px) {
      .social-icons {
            left: 6rem;
      }
}

@media only screen and (max-width: 500px) {
      .footer-wrapper {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            height: 50vh;
      }

      .social-icons {
            position: relative;
            max-width: 300px;
      }

      .sm-icon {
            font-size: 1.5rem;
            margin: 10px;
      }

      .col-4,
      .col-5 {
            -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
            min-width: 100%;
            position: unset;
            margin: 0 auto;
            max-height: 200px;
      }
}

@media only screen and (max-width: 390px) {
      .social-icons {
            left: 4rem;
            max-width: 300px;
      }
}

@media only screen and (max-width: 345px) {
      .social-icons {
            max-width: 200px;
      }

      .sm-icon {
            margin: 0 auto;
      }
}