textarea:focus,
input:focus,
button:focus {
      outline: none;
}

.form-wrapper {
      width: 100%;
      height: 90vh;
      background-color: #eaeaea;
      margin-top: 28rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact-form {
      min-width: 50%;
      max-width: 50%;
      min-height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-top: 1rem;
}

.col-name input,
.col-email input {
      width: 95%;
      height: 2rem;
      border: none;
      background-color: #cec8c8;
}

.user-icon {
      margin-right: 1rem;
}

.col-msg {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
      flex-flow: column wrap;
      background-color: #cec8c8;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      max-width: 100%;
}

.col-msg textarea {
      width: 95%;
      height: 15rem;
      border: none;
      background-color: #cec8c8;
      margin: 20px;
}

.col-name,
.col-email {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
      flex-flow: column wrap;
      background-color: #cec8c8;
      margin-bottom: 2rem;
      height: 40px;
      border: 2px solid transparent;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-transition: 0.5s ease-in;
      -o-transition: 0.5s ease-in;
      transition: 0.5s ease-in;
      max-width: 100%;
}

.col-name:hover,
.col-email:hover {
      border: 2px solid #bb5320;
}

.contact-form p {
      margin-left: 16rem;
      font-family: Raleway, sans-serif;
      font-weight: 200;
      letter-spacing: 1px;
}

.contact-form button {
      width: 150px;
      height: 50px;
      background-color: #c45e2c;
      border: none;
      color: #fff;
      margin-left: 17rem;
}

@media only screen and (max-width: 1160px) {
      .contact-form {
            min-width: 70%;
      }

      .col-email input,
      .col-name input {
            margin-left: -1rem;
      }

      .col-msg textarea {
            margin-left: 0rem;
      }
}

@media only screen and (max-width: 716px) {
      .form-wrapper {
            margin-top: 93rem;
      }
}

@media only screen and (max-width: 536px) {
      .contact-form {
            margin-left: -2rem;
      }
}

@media only screen and (max-width: 500px) {
      .contact-form {
            margin-left: -4rem;
      }
}

@media only screen and (max-width: 485px) {
      .contact-form {
            min-width: 80%;
            margin-left: -2rem;
      }
}

@media only screen and (max-width: 465px) {
      .contact-form {
            margin-left: -4rem;
      }
}

@media only screen and (max-width: 460px) {
      .contact-form {
            min-width: 100%;
            margin-left: 0;
      }

      .contact-form button {
            margin-left: 8rem;
      }
}