h2 {
      font-family: Raleway, sans-serif;
      font-weight: bolder;
      color: #fff;
      font-size: 3.5rem;
      letter-spacing: 2px;
      text-align: center;
}

h3 {
      color: #fff;
      letter-spacing: 5px;
      font-weight: lighter;
}

.section__content .hero-logo {
      margin-left: 16rem;
}

.bar-wrapper {
      width: 100%;
      height: 50vh;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin-top: 135rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      position: relative;
}

.bar-wrapper img {
      -o-object-fit: cover;
      object-fit: cover;
      width: 100%;
      height: 100%;
      -webkit-filter: brightness(0.3);
      filter: brightness(0.3);
}

.section__content {
      position: absolute;
      top: 1rem;
}

@media only screen and (max-width: 1268px) {
      .bar-wrapper {
            margin-top: 172rem;
      }
}

@media only screen and (max-width: 1100px) {
      .bar-wrapper {
            margin-top: 442rem;
      }
}

@media only screen and (max-width: 530px) {
      .section__content .hero-logo {
            margin-left: 14rem;
      }
}

@media only screen and (max-width: 448px) {
      .section__content .hero-logo {
            margin-left: 12rem;
      }
}


@media only screen and (max-width: 398px) {
      .section__content .hero-logo {
            margin-left: 10rem;
      }

      .bar-wrapper {
            margin-top: 447rem;
      }

      .section__content h3 {
            margin-top: -1rem;
      }
}