.col-6 {
      width: 100%;
      height: 60vh;
      background-color: #eaeaea;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      margin-top: 27rem;
}

.side-bg {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      max-width: 50%;
      background-position: 50% 16.5px;
}

.side-content {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-left: 1rem;
}

.side-content h2 {
      font-family: Raleway, sans-serif;
      font-weight: bolder;
      font-size: 2rem;
      color: #242424;
}

.side-content p {
      margin: 20px 0;
      font-family: Roboto, sans-serif;
      font-size: 14px;
      color: #333;
      font-weight: 400;
      letter-spacing: 1.5px;
      opacity: 0.8;
      text-transform: uppercase;
}

.side-content a {
      font-size: 1rem;
      font-family: Raleway, sans-serif;
      text-transform: uppercase;
      text-decoration: underline;
      -webkit-transition: 0.5s ease-out;
      -o-transition: 0.5s ease-out;
      transition: 0.5s ease-out;
      font-weight: 600;
}

.side-content a:hover {
      text-decoration: none;
      color: #bb5320;
      outline: 0;
}

.side-bg img {
      -o-object-fit: cover;
      object-fit: cover;
      width: 100%;
      height: 100%;
      -webkit-filter: brightness(0.5);
      filter: brightness(0.5);
}

@media only screen and (max-width: 725px) {
      .col-6 {
            margin-top: 35rem;
      }
}

@media only screen and (max-width: 710px) {
      .col-6 {
            margin-top: 94rem;
      }
}

@media only screen and (max-width: 540px) {
      .side-content h2 {
            font-size: 1.5rem;
      }

      .side-content p {
            font-size: 12px;
      }
}

@media only screen and (max-width: 445px) {
      .col-6 {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            height: 100%;
      }

      .side-bg {
            -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
            min-width: 100%;
      }

      .side-content h2 {
            font-size: 2rem;
      }
}

@media only screen and (max-width: 375px) {
      .col-6 {
            margin-top: 82rem;
      }

}


@media only screen and (max-width: 368px) {
      .col-6 {
            margin-top: 97rem;
      }
}