.coctails-section {
      width: 100%;
      height: 100vh;
      margin-top: 25rem;
}

.loader {
      text-align: center;
}

.loader span {
      display: inline-block;
      vertical-align: middle;
      width: 10px;
      height: 10px;
      margin: 50px auto;
      background: black;
      border-radius: 50px;
      -webkit-animation: loader 0.9s infinite alternate;
      animation: loader 0.9s infinite alternate;
}

.loader span:nth-of-type(2) {
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s;
}

.loader span:nth-of-type(3) {
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s;
}

@-webkit-keyframes loader {
      0% {
            width: 10px;
            height: 10px;
            opacity: 0.9;
            -webkit-transform: translateY(0);
            transform: translateY(0);
      }

      100% {
            width: 24px;
            height: 24px;
            opacity: 0.1;
            -webkit-transform: translateY(-21px);
            transform: translateY(-21px);
      }
}

@keyframes loader {
      0% {
            width: 10px;
            height: 10px;
            opacity: 0.9;
            -webkit-transform: translateY(0);
            transform: translateY(0);
      }

      100% {
            width: 24px;
            height: 24px;
            opacity: 0.1;
            -webkit-transform: translateY(-21px);
            transform: translateY(-21px);
      }
}

@media only screen and (max-width: 715px) {
      .coctails-section {
            margin-top: 75rem;
      }
}