.hero-wrapper {
      width: 100%;
      height: 100vh;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      position: relative;
      overflow: hidden;
}

.menu-container,
.hero__content {
      z-index: 9999;
}

.menu-bars {
      position: absolute;
      right: 5rem;
      font-size: 3rem;
      z-index: 999;
      top: 0.5rem;
}

.menu-icon {
      position: absolute;
      right: -400px;
      background-color: #ffffffad;
      width: 300px;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-transition: 1s ease-in;
      -o-transition: 1s ease-in;
      transition: 1s ease-in;
      z-index: 999;
}

.hidden {
      display: none;
}

.menu-icon.active {
      right: 0;
      z-index: 99999;
}

.nav-list {
      list-style: none;
      width: 100%;
      margin: 10px;
      padding: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
}

.nav-item {
      text-transform: uppercase;
      color: #232323;
      font-size: 1.5rem;
      padding: 8px 16px;
      letter-spacing: 4px;
      margin: 30px 10px;
      letter-spacing: 4px;
      cursor: pointer;
}

.nav-item a:hover,
.nav-item:hover {
      color: #bb5320;
}

.menu-logo {
      font-size: 3rem;
      -webkit-transform: rotate(340deg);
      -ms-transform: rotate(340deg);
      transform: rotate(340deg);
      color: #fff;
      margin: 10px;
      -webkit-transition: 0.5s ease-in;
      -o-transition: 0.5s ease-in;
      transition: 0.5s ease-in;
      position: absolute;
      right: 0;
      z-index: 999;
}

.menu-logo:hover,
.menu-icon:hover {
      color: #bb5320;
}

.img-wrapper img {
      -o-object-fit: cover;
      object-fit: cover;
      width: 100%;
      height: 100%;
      min-height: 100vh;
      z-index: -1;
      -webkit-filter: brightness(0.33);
      filter: brightness(0.33);
}

.img-wrapper {
      min-height: 100%;
}

.img-wrapper:after,
.img-wrapper:before {
      content: " ";
      display: table;
}

.hero__content h1 {
      font-family: Raleway, sans-serif;
      font-weight: 800;
      color: #fff;
      font-size: 5rem;
      letter-spacing: 2px;
      text-align: center;
}

.hero__content h2 {
      color: #fff;
      font-size: 1.5rem;
      letter-spacing: 15px;
      text-transform: uppercase;
      display: block;
      font-weight: 200;
      margin-top: 24px;
      padding-top: 5px;
}

.hero__content {
      position: absolute;
      top: 10rem;
      left: 30rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
}

.hero-logo {
      font-size: 4rem;
      color: #bb5320;
      -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      transform: rotate(135deg);
}

/* Daily Content */
.daily-content {
      width: 100%;
      height: 60vh;
}

.col-3 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-left: 3rem;
      padding: 30px;
      margin-top: 2rem;
}

.row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 500px;
      margin: 0 auto;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-top: 5rem;
}

.row span {
      font-size: 1rem;
      letter-spacing: 9px;
      margin: 50px;
      margin-bottom: 0;
      color: #232323;
      text-transform: uppercase;
}

.row h2 {
      font-family: Raleway, sans-serif;
      font-size: 36px;
      font-weight: 900;
      text-transform: uppercase;
      color: #232323;
}

.daily-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 300px;
      height: 450px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: 50px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      transition: 2s ease-in;
}

.animate {
      -webkit-animation: appear 1s;
      animation: appear 1s;
      -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-duration: 3s;
      animation-duration: 3s;
}

.daily-container img {
      width: 150px;
      height: 150px;
}

.daily-container p {
      color: #756f6f;
      max-width: 80%;
      margin: 0 auto;
      font-family: Roboto, sans-serif;
      font-weight: 400;
      font-size: 15px;
}

.daily-container h2 {
      font-family: Raleway, sans-serif;
      color: #232323;
      font-size: 2rem;
}

#gr {
      width: 20%;
      height: 2px;
      margin: 30px;
      background-color: #bb5320;
}

/* Events */
.events-container {
      width: 100%;
      height: 70vh;
      margin-top: 10rem;
}

.cards {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
}

/* Footer */
.coctails-footer .footer-wrapper,
.contact-footer .footer-wrapper {
      margin-top: 0rem;
      height: 60vh;
}


.contact-footer {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
}

/* Contact*/
.hero-contact .hero__content {
      left: 27rem;
}

@-webkit-keyframes appear {
      0% {
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
      }

      100% {
            -webkit-transform: translateX(0%);
            transform: translateX(0%);
      }
}

@keyframes appear {
      0% {
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
      }

      100% {
            -webkit-transform: translateX(0%);
            transform: translateX(0%);
      }
}

@media only screen and (max-width: 1325px) {
      .hero-wrapper .hero__content {
            left: 20rem;
      }
}

/* @media only screen and (max-width:1268px) {
      .hero-contact .hero-wrapper .hero-content {
            left: 20rem;
      }
} */

@media only screen and (max-width: 1125px) {
      .hero-wrapper .hero__content {
            left: 15rem;
      }
}

@media only screen and (max-width: 1080px) {
      .menu-icon.active {
            z-index: 99999;
            background-color: #fff;
      }
}

@media only screen and (max-width: 960px) {
      .hero-wrapper .hero__content {
            left: 10rem;
      }
}

@media only screen and (max-width: 760px) {
      .hero-wrapper .hero__content {
            left: 8rem;
            top: 5rem;
      }

      .menu-icon.active {
            width: 200px;
      }

      .nav-list {
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
      }

      .nav-item {
            font-size: 1rem;
      }
}

@media only screen and (max-width: 710px) {
      .hero-wrapper .hero__content h1 {
            font-size: 4rem;
            letter-spacing: 3px;
      }

      .hero-wrapper .hero__content h2 {
            font-size: 1rem;
      }

      .daily-container {
            margin: 30px;
            width: 400px;
      }

      .col-3 {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
      }
}

@media only screen and (max-width: 650px) {
      .hero-wrapper .hero__content {
            left: 5rem;
      }
}

@media only screen and (max-width: 575px) {
      .hero-wrapper .hero__content {
            left: 4rem;
            top: 10rem;
      }

      .hero-wrapper .hero__content h1 {
            font-size: 4rem;
      }

      .hero-wrapper .hero__content h2 {
            font-size: 1rem;
            margin-left: 1rem;
      }

      .row {
            max-width: 350px;
      }
}

@media only screen and (max-width: 490px) {
      .hero-wrapper .hero__content {
            left: 0;
      }
}

@media only screen and (max-width: 445px) {
      .col-3 {
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            margin-left: 0rem;
      }
}

@media only screen and (max-width: 385px) {
      .daily-container {
            max-width: 300px;
      }

      .row {
            max-width: 300px;
      }

      .row span {
            font-size: 0.5rem;
      }

      .coctails-footer .social-icons {
            margin-left: -1rem;
      }
}