.cards-container {
      width: 300px;
      height: 500px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: 50px;
      padding: 12px;
}

.cards-container img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -webkit-transition: 1s ease-in;
      -o-transition: 1s ease-in;
      transition: 1s ease-in;
}

.cards-container img:hover {
      -webkit-filter: brightness(0.5);
      filter: brightness(0.5);
}

.cards-container a {
      display: inline-block;
      margin-bottom: 0;
      font-weight: 400;
      text-align: center;
      vertical-align: middle;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      background-image: none;
      border: 1px solid transparent;
      font-family: Raleway, sans-serif;
      font-weight: 400;
      text-decoration: underline;
      -webkit-transition: 1s ease-out;
      -o-transition: 1s ease-out;
      transition: 1s ease-out;
}

.cards-container a:hover {
      text-decoration: none;
      color: #bb5320;
      outline: 0;
}

.cards-container span {
      font-size: 0.7rem;
      letter-spacing: 9px;
      margin: 50px;
      margin-top: 1rem;
      margin-bottom: 0;
      color: #232323;
      text-transform: uppercase;
}

.card-item__icon {
      font-size: 3rem;
      color: #bb5320;
}

.cards-container h2 {
      font-family: Raleway, sans-serif;
      font-size: 32px;
      font-weight: 900;
      text-transform: uppercase;
      color: #232323;
}

@media only screen and (max-width: 1100px) {
      .events-container .cards {
            /* -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column; */
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
      }

      .cards-container {
            width: 450px;
            height: 550px;
            margin-bottom: 8rem;
      }

      .row {
            width: 600px;
      }

      .events-container .row span {
            font-size: 2rem;
      }

      .events-container .row h2 {
            font-size: 3rem;
      }

      .row .hero-logo {
            margin-bottom: 3rem;
      }
}

@media only screen and (max-width: 575px) {
      .events-container .row span {
            font-size: 1rem;
      }
}

@media only screen and (max-width: 480px) {
      .cards-container {
            width: 350px;
      }
}

@media only screen and (max-width: 350px) {
      .cards-container {
            max-width: 300px;
            margin: 50px 10px;
      }
}

@media only screen and (max-width: 305px) {
      .cards-container {
            max-width: 250px;
      }
}